body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    position: relative; /* 使子元素绝对定位相对于body */
    flex-direction: column; /* 所有子元素将垂直排列 */
}

.floating-box {
    width: 25px; /* 方块宽度 */
    height: 25px; /* 方块高度 */
    position: absolute; /* 绝对定位 */
    animation: float 3s infinite; /* 动画效果 */
    border-radius: 10px; /* 圆角 */
    z-index: -1; /* 层级 */
}
@keyframes float {
    0% {
        transform: translateY(0); /* 初始位置 */
    }
    50% {
        transform: translateY(-20px); /* 向上浮动 */
    }
    100% {
        transform: translateY(0); /* 回到初始位置 */
    }
}

nav {
    background-color: #333;
    color: #fff;
    padding: 5px;
}

nav span {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav span img {
    height: 40px;
}

nav span a {
    color: #fff;
    text-decoration: none;
    padding: 10px 5%;
    transition: background-color 0.3s;
}

nav span a:hover {
    background-color: #575757;
}

#rolling-images {
    height:90vh;
    width:100vw;
    overflow: hidden;
    position: relative;
    padding-bottom: 5%;
}

#rolling-images div:nth-child(1) { animation-delay: 0s; }
#rolling-images div:nth-child(2) { animation-delay: 6s; }
#rolling-images div:nth-child(3) { animation-delay: 12s; }
#rolling-images div:nth-child(4) { animation-delay: 18s; }
#rolling-images div:nth-child(5) { animation-delay: 24s; }
#rolling-images div:nth-child(6) { animation-delay: 30s; }

@keyframes slideShow {
    0% { opacity: 0; }
    5% { opacity: 1; }
    16.67% { opacity: 1; }
    22.67% { opacity: 0; }
    100% { opacity: 0; }
}

.intro {
    background-color: #fff;
    margin: 30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.blank {
    height: 100px;
}

.history-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.history-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.history-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 5px;
}

.history-item .date {
    font-weight: bold;
    margin-right: 20px;
}

.class-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.class-item {
    flex: 1 1 200px;
    max-width: 10%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 10px;
    cursor: pointer;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    
}

.class-item img {
    margin-top: 10%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    z-index: 10;
    overflow: auto;
}

.class-item input[type="checkbox"] {
    display: none;
}

.class-item input[type="checkbox"]:checked + label + .popup {
    display: block;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

.hidden {
    display: none;
}

#pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.special{
    margin: 15px 8%;
    border-radius: 15px;
}