#image1{
    position: absolute;
    opacity: 0;
    animation: slideShow 36s infinite;
    width: 90%;
    height: 90%; 
    top: 50%; /* 距离顶部50% */
    left: 50%; /* 距离左侧50% */
    transform: translate(-50%, -50%); /* 将自身宽高的一半向左和向上移动 */
    background-image: url('../images/contact/bg1.jpg'); /* 替换为你的图片路径 */
    background-size: cover; /* 填充容器 */
    background-position: center; /* 居中对齐 */
    background-repeat: no-repeat; /* 不重复 */
    border: 3px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
    

}

#image2{
    position: absolute;
    opacity: 0;
    animation: slideShow 36s infinite;
    width: 90%;
    height: 90%; 
    top: 50%; /* 距离顶部50% */
    left: 50%; /* 距离左侧50% */
    transform: translate(-50%, -50%); /* 将自身宽高的一半向左和向上移动 */
    background-image: url('../images/contact/bg2.jpg'); /* 替换为你的图片路径 */
    background-size: cover; /* 填充容器 */
    background-position: center; /* 居中对齐 */
    background-repeat: no-repeat; /* 不重复 */
    border: 3px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}

#image3{
    position: absolute;
    opacity: 0;
    animation: slideShow 36s infinite;
    width: 90%;
    height: 90%; 
    top: 50%; /* 距离顶部50% */
    left: 50%; /* 距离左侧50% */
    transform: translate(-50%, -50%); /* 将自身宽高的一半向左和向上移动 */
    background-image: url('../images/contact/bg3.jpg'); /* 替换为你的图片路径 */
    background-size: cover; /* 填充容器 */
    background-position: center; /* 居中对齐 */
    background-repeat: no-repeat; /* 不重复 */
    border: 3px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}

#image4{
    position: absolute;
    opacity: 0;
    width: 90%;
    height: 90%; 
    top: 50%; /* 距离顶部50% */
    left: 50%; /* 距离左侧50% */
    transform: translate(-50%, -50%); /* 将自身宽高的一半向左和向上移动 */
    background-image: url("../images/contact/bg4.jpg");/* 替换为你的图片路径 */
    background-size: cover; /* 填充容器 */
    background-position: center; /* 居中对齐 */
    background-repeat: no-repeat; /* 不重复 */
    border: 3px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}

#image5{
    position: absolute;
    opacity: 0;
    animation: slideShow 36s infinite;
    width: 90%;
    height: 90%;  
    top: 50%; /* 距离顶部50% */
    left: 50%; /* 距离左侧50% */
    transform: translate(-50%, -50%); /* 将自身宽高的一半向左和向上移动 */
    background-image: url('../images/contact/bg5.jpg'); /* 替换为你的图片路径 */
    background-size: cover; /* 填充容器 */
    background-position: center; /* 居中对齐 */
    background-repeat: no-repeat; /* 不重复 */
    border: 3px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}
#image6{
    position: absolute;
    opacity: 0;
    animation: slideShow 36s infinite;
    width: 90%;
    height: 90%; 
    top: 50%; /* 距离顶部50% */
    left: 50%; /* 距离左侧50% */
    transform: translate(-50%, -50%); /* 将自身宽高的一半向左和向上移动 */
    background-image: url('../images/contact/bg6.jpg'); /* 替换为你的图片路径 */
    background-size: cover; /* 填充容器 */
    background-position: center; /* 居中对齐 */
    background-repeat: no-repeat; /* 不重复 */
    border: 3px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}